{% extends 'core/base.html' %}
{% load static %}
{% block content %} 
<div class="mt-5">
    <div class="mt-5 text-center">
        <img src="{% static 'core/images/profile_pic.png' %}" alt="Profile Picture" 
     class="img-thumbnail" width="250px" height="150px">
    </div>
    
     <div class="mt-5 text-white mx-5 text-justify">
        <h1 class="font-weight-bold st-font">Hello,</h1> 
        <div class="px-4" style="line-height: 2rem;">
        <p style="text-indent: 100px;">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Atque recusandae incidunt beatae voluptas nihil, iure accusantium sunt 
            porro molestiae illo deleniti consequatur alias omnis labore non corrupti! Delectus,
            consectetur dolore!
        </p>
        <p style="text-indent: 100px;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus placeat fugit
            temporibus quibusdam, corporis eius minus dolor voluptas qui
            quidem quaerat et obcaecati ab voluptatum recusandae laborum tempora! Omnis, odit?
        </p>
        </div>
     </div>
     <div class="text-center">
        <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
        <a href="{% url 'contact' %}" class="btn btn-outline-info my-3">Contact</a>
     </div>    
</div>
{% endblock content %}